<?xml version="1.0" encoding="utf-8"?>
<MainSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ThemeIsDark>true</ThemeIsDark>
  <ThemeImage />
  <AccentColor>-14966302</AccentColor>

  <LockScreenSettings>
    <LockScreenClass>MetroHome65.SimpleLock.AdvancedLock</LockScreenClass>
    <Parameters>
      <param Name="Background" Value="\Program Files\MetroHome65\wallpapers\flower.jpg"/>
    </Parameters>   
  </LockScreenSettings>

  <TileThemeIndex>0</TileThemeIndex>
</MainSettings>